:root {
  --titlesfont: helvetica;
  --linksfont: arial;
  --linksweight: 700;
  --navfooterback: #f9ff00;
  --background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(231,231,231,1) 35%, rgba(212,212,212,1) 100%);
  font-family: verdana;
}

body {
  margin: 0;
}
