:root {
  font-size: 3vmin;
  font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  --font-titles-links: Arial, Helvetica Neue, Helvetica, sans-serif;
  --yellow: #f8ff00;
  --lightblue: #4ca1e6;
  --dullyellow: #e0e635;
  --red: #e6241e;
  --darkred: #99201c;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tittle,
.link,
.button {
  font-family: var(--font-titles-links);
  text-decoration: none;
  background-color: white;
  color: #000;
  opacity: 0.75;
  font-weight: 600;
}

.link:hover,
.button:hover {
  opacity: 1;
  cursor: pointer;
}
