.home-container {
  height: 84vh;
  max-height: 84vh;
  display: flex;
  background-color: var(--homebackground);
}

.searchbar-home-container {
  width: 20vw;
  height: min-content;
}

.countries-home-container {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-aspect-ratio: 13/9) {
  .home-container {
    flex-direction: column;
    height: min-content;
    width: 100vw;
  }

  .searchbar-home-container {
    width: 100%;
    height: minmax(min-content, max-content);
  }

  .countries-home-container {
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }
  .countries-home-container::-webkit-scrollbar {
    display: none;
  }
}
