.home-container {
  height: 84vh;
  max-height: 84vh;
  display: flex;
}

.searchbar-home-container {
  width: 20vw;
  height: min-content;
}

.countries-home-container {
  width: 80vw;
  height: 100%;
}

@media (orientation: portrait) {
  .home-container {
    flex-direction: column;
  }

  .searchbar-home-container {
    width: 100vw;
    height: minmax(min-content, max-content);
  }

  .countries-home-container {
    width: 100vw;
  }
}
