.country-card-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vmin;
  font-size: 1em;
  height: 100%;
  margin: auto;
}

.country-card-container:hover {
  transform: scale(1.03);
}

.country-card-container-mini {
  width: 45%;
  border-radius: 2vmin;
}

@media screen and (max-aspect-ratio: 13/9) {
  .country-card-name {
    font-size: 1.2rem;
  }
  .country-card-container-mini {
    height: 80%;
  }
}