.country-card-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4vmin;
  font-size: 1em;
  height: 100%;
  margin: auto;
}

.country-card-container:hover {
  /* outline: solid 1vmin #000; */
  transform: scale(1.03);
}