.landing-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../img/landing.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
}

.landing-link {
    margin: auto;
    font-size: 2.5rem;
    padding: 1.5vmin;
}