.about {
    text-align: left;
}

.about p {
    padding: 2rem;
}

.about h2, .about h3 {
    text-align: center;
}

.contact {
    width: 100vw;
    display: flex;
    
}

.contact_item {
    width: 20vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
    padding: 1rem;
}

.contact_item_img {
    width: 30%;
    margin: auto;
    border-radius: 10px;
}