.activityform-container {
    background: var(--background);
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activityform-container h2 {
    margin: 0;
    padding: 25px;
    font-size: 2rem;
    font-family: var(--titlesfont);
}

.activityform-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.activityform-form label {
    font-size: 1.1rem;
}

.activityform-form-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.activityform-form input, .activityform-form select {
    width: 30vw;
    height: 5vh;
    border: none;
    box-sizing:content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 7px;
}

.activityform-countries {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.activityform-countries-item {
    min-width: 8vw;
    padding: 0 5px;
}

.activityform-error {
    color: #ff0000;
    font-weight: 600;
    font-size: 1.2rem;
}


.activityform-submit-button {
    border-radius: 10px;
    font-family: var(--linksfont);
    font-weight: var(--linksweight);
    margin-top: -2vh;
}

.activityform-submit-button:hover {
    background-color: #fff;
    cursor: pointer;
}