.countrycard-container {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 23vw;
    height: 23vh;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    border: 1px solid black;
    box-shadow: 5px 4px 23px 2px rgba(0,0,0,0.39);
    -webkit-box-shadow: 5px 4px 23px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 5px 4px 23px 2px rgba(0,0,0,0.39);
}

.countrycard-container:hover {
    animation-name: flags;
    animation-duration: .2s;
    transform:scale(1.03)
}

.country-card-link {
    color: #000;
    text-decoration: none;
    border-radius: 7px;
    font-weight: 600;
    font-size: .95rem;
    padding: 2px;
    background-color: rgba(200, 200, 200, .7);
    transition: .2s ;
}

.country-card-link:hover {
    font-size: 1rem;
    background-color: #fff;
    opacity: .95;
}

@keyframes flags {
    0% {
        transform:scale(.95)
    }
    10% {
        transform:scale(.98)
    }
    100% {
        transform:scale(1.03)
    }
}
