.landing {
    background-image: url('../img/background.jpg');
    background-size: 100vw;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.landing-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.landing-container h2 {
    border-radius: 20px;
    font-family: var(--titlesfont);
    background: #ccc;
    font-size: 5rem;
    padding: 15px;
    opacity: 90%;
}

.landing-link {
    color: #000;
    width: min-content;
    margin: 50px auto;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    font-family: var(--linksfont);
    font-size: 1.5rem;
    background-color: #ccc;
    font-weight: var(--linksweight);
    opacity: 80%;
}

.landing-link:hover {
    opacity: 100%;
    background-color: #ddd;
}