.paginater-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    max-height: 6vh;
    margin-bottom: 5vh;
}

.paginater-button {
    width: 2rem;
    height: 2rem;
    font-size: .7rem;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    background-color: #c9c9c9;
}

.paginater-button-active {
    background-color: #444;
    color:#fff;
}

.paginater-button:hover {
    cursor: pointer;
    background-color: #444;
    color:#fff;
}