.countrycards-container {
  margin: 1vh 1vw;
  display: grid;
  height: 74vh;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1vh;
  justify-items: center;
}

@media screen and (max-aspect-ratio: 13/9) {
  .countrycards-container {
    height: 240vh;
    gap: 4vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
}